<div class="pop-wrapper">
    <div class="pop-picture">
        <img class="pic" src="#" alt="">
    </div>
</div>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/fresco.min.js"></script>
<script src="/js/index.js"></script>
<!--index.js 추가-->
<script src="/js/main.js"></script>
<!--index.js 호출 코드를 보면 절대 경로(/)로 시작합니다. index.js 가 있는곳이 /경로로 됨-->
</body>
</html>